* {
  font-family: "Jersey 15", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html {
  background: var(--yellow);
}

body {
  height: 100vh;

  display: grid;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 80%;
  margin: 0 auto;

  display: grid;
  justify-content: center;
  align-items: center;
}

.container__cat {
  display: flex;
  max-width: fit-content;
  max-height: min-content;
  position: absolute;
  bottom: -4%;
  right: -8%;
}
