/* --- CSS RESET --- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  color: black;
}
html {
  background: white;
}
h1,
h2,
h3,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
img,
video,
iframe {
  max-width: 100%;
  height: auto;

  display: block;

  image-rendering: pixelated;
}

* {
  box-sizing: border-box;
  overflow-wrap: break-word;
}

mark {
  background-color: transparent;
  color: black;
}
