.date__days:hover {
  background-color: var(--pink);
  transition: 0.2s;
}
.date__hours:hover {
  background-color: var(--pink);
  transition: 0.2s;
}
.date__minutes:hover {
  background-color: var(--pink);
  transition: 0.2s;
}
.date__seconds:hover {
  background-color: var(--pink);
  transition: 0.2s;
}

.detail__minimize:hover {
  background-color: var(--pink);
  transition: 0.2s;
}
.detail__close:hover {
  background-color: var(--yellow);
  transition: 0.2s;
}
