.date__days:hover,
.date__hours:hover,
.date__minutes:hover,
.date__seconds:hover {
  background-color: var(--pink);
  transition: background-color 0.2s;
}
.detail__minimize:hover {
  background-color: var(--pink);
  transition: 0.2s;
}
.detail__close:hover {
  background-color: var(--yellow);
  transition: 0.2s;
}
