.container__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: 4px solid black;
  background: white;
}

.menu__icon {
  display: flex;
  padding: 1rem;
}

.icon__potato {
  padding: 0rem 0.5rem;
}

.menu__logo {
  align-self: center;
}

.menu__detail {
  display: flex;
  align-items: center;
}

.detail__minimize {
  width: 2.5rem;
  height: 2.5rem;

  padding: 0.5rem;
  background-color: rgba(251, 133, 168, 0.596);

  border: 3px solid black;
}
.detail__close {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  background-color: var(--pink);

  border: 3px solid black;
  margin: 0rem 1rem 0rem 0.5rem;
}
