.section {
  display: none;
}

.section.active {
  display: flex;
  flex-wrap: wrap;

  background: white;
  max-width: 800px;

  border: solid black;
  border-width: 0px 4px 4px 4px;

  padding: 60px 20px;

  justify-content: center;
  align-items: center;
}

.section__header {
  display: flex;
  padding: 10px;

  text-align: end;

  justify-content: center;
  align-items: center;
}

.header__frame {
  background-color: #fff5de;

  margin: 0px 30px 0px 0px;

  border: 4px solid black;
  height: 150px;
  width: 150px;

  /* alinha horizontal */
  justify-items: center;
  /* alinha vertical */
  align-content: center;
}

.header__text {
  font-size: 3.5rem;
  max-width: 90%;
}

.frame__potato {
  max-width: 7rem;
}

.frame__cookie {
  max-width: 7rem;
}

.section__date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

  padding: 2rem 0.2rem;
  margin: 1rem;

  width: 100%;
  justify-content: center;
  align-content: center;
  align-self: center;
  align-items: center;

  font-size: 3rem;
}
.date__days,
.date__hours,
.date__minutes,
.date__seconds {
  background-color: var(--yellow);
  padding: 10px 60px;
  align-self: center;
  justify-items: center;
}

.section__footer {
  font-size: 4rem;
}

.highlight__potato {
  color: var(--pink);
}
.highlight__cookie {
  color: var(--yellow);
}
